server:
  port: 8080

spring:
  application:
    name: login

  profiles:
    active: mysql

  datasource:
    url: jdbc:h2:mem:testdb
    driver-class-name: org.h2.Driver
    username: sa
    password: 

  h2:
    console:
      enabled: true
      path: /h2-console

  jpa:
    hibernate:
      ddl-auto: update
    database-platform: org.hibernate.dialect.H2Dialect
    show-sql: true

security:
  redirect-whitelist:
    - "http://localhost:5173"
    - "http://localhost:3000"

---
# Profile for running with MySQL (uncomment or run with --spring.profiles.active=mysql)
spring:
  config:
    activate:
      on-profile: mysql
  datasource:
    url: jdbc:mysql://mysql_database:3306/Login
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: root
    password: jose
  jpa:
    hibernate:
      ddl-auto: update
    database-platform: org.hibernate.dialect.MySQL8Dialect
    show-sql: true